body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  height: 100%;
  width:100%;    
}
button{
  background: #232323;
  color: white;
  border-radius: 25px;
  border: 3px white solid;
  padding-top: 0%;
  height: min-content;
  width: max-content;
  margin: 1%;
  font-size: xx-large;
}
.slider {
  padding: 1rem;
  background: #232323;
  height: 250px;
  overflow: auto;
}
.slider::-webkit-scrollbar {
  width: 10px;
  height:10px;
  
}

/* Track */
.slider::-webkit-scrollbar-track {
  background: rgb(71, 74, 75); 
}
 
/* Handle */
.slider::-webkit-scrollbar-thumb {
  background: rgb(175, 174, 174); 
  border-radius: 10px;
  height:10px;
}

/* Handle on hover */
.slider::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206); 
}
